.todo-item {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 5px 0;
    padding: 5px 10px;
    background: #d5d5d5;
}
.checked {
    text-decoration: line-through;
}
.todo-item label {
    margin-right: 10px;
}
.todo-item span {
    color: #000;
}
.edit {
    margin-left: 10px;
}
.delete,
.edit {
    cursor: pointer;
}
