.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  position: sticky;
  top: 0;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1000;
}

.App-link,
h4 {
  color: #09d3ac;
}
